/*TODO Add CSS reset and global variables*/

 body {
     background-color: rgb(241 187 1);
 }

.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;
}

.inner-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 72px;
}

.logo{
    max-width: 420px;
}

.button {
    background-color: #535bf2;
    border: 2px solid #213547;
    min-width: 120px;
    margin: 10px;
    font-weight: bold;
}

.disabled:disabled {
    background-color: grey !important;
}

.error-message {
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
}